.r1 {
  background: #b2182b;
}

.r2 {
  background: #d6604d;
}

.r3 {
  background: #f4a582;
}

.r4 {
  background: #fddbc7;
}

.n1 {
  background: #f7f7f7;
}

.b1 {
  background: #d1e5f0;
}

.b2 {
  background: #92c5de;
}

.b3 {
  background: #4393c3;
}

.b4 {
  background: #2166ac;
}
